{% load i18n %}
<div class="input-group">
  {% include 'django/forms/widgets/input.html' %}
  <button type="button" class="btn btn-secondary annotations"
          title="{% blocktrans with widget.attrs.verbose_name as verbose_name %}View {{ verbose_name }}{% endblocktrans %}"
          data-title="{{ widget.attrs.verbose_name_plural }}"
          data-url="{{ widget.attrs.url }}"
          data-for_id="{{ widget.attrs.id }}"
          data-object_id="{{ widget.attrs.object_id }}"
          data-object_key="{{ widget.attrs.object_key }}"
          data-filter_prefix="{{ widget.attrs.filter_prefix }}"
          data-page_param="{{ widget.attrs.page_param }}">
    <i class="fa fa-list"></i>
    <span class="d-none d-sm-inline">{% trans 'View' %}</span>
    <span class="badge badge-primary">{{ widget.attrs.count }}</span>
  </button>
</div>